<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style/base.css' %}">
	{% block headers %} {% endblock headers %}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="">
</head>
<body>
	<nav class="nav-wrapper">
		<img src="{% static 'images/logo.png' %}" alt="">
		<ul>
			<li class="plus"><a href="{% url 'add-page' %}">+</a></li>
			<li class="home"><a href="{% url 'home-page' %}">Home</a></li>

		</ul>	

	</nav>
	{% block body %} {% endblock body %}
</body>
</html>